--- 
site_name: Wave Cloud
title: Wave Cloud VPS and WebHosting
---
%div.page-header 
  %span
    %h1 Wave Cloud
    %small VPS and WebHosting
#advice.well
  %h2.black Wave Cloud
  %p.black Some text
  %a.btn.btn_primary.btn_large Prices
#logo
  %img( src = "images/WaveCloud1.png")
%table
  %tr
    %td
      #item.well
        %h2.black Wave Cloud
        %p.black Some text
        %a.btn.btn_primary.btn_large Prices
    %td
      #item.well
        %h2.black Wave Cloud
        %p.black Some text
        %a.btn.btn_primary.btn_large Prices
    %td
      #item.well
        %h2.black Wave Cloud
        %p.black Some text
        %a.btn.btn_primary.btn_large Prices
